#logo {
    margin: 5px;
    margin-right: 15px;
    height: 48px;
    width: 48px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: none;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  /* End of alert */

#chatbox {
    width: 50%;
    height: 60vh;
    border: 2px solid #175676;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

#chatlogs {
    height: 60vh;
    overflow: auto;
    word-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* default alignment */

}

#chat-interface {
    height: 10vh;
    padding-top: 5px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    float: right;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #175676;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

button:active {
    background-color: #003d80;
    transform: translateY(2px);
    transform: scale(0.95);
}

button.choiceButton {
    margin: 2px;
}

/* .choiceDiv {
    align-self: center;
} */

p {
    display: inline-block;
    margin-bottom: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 70%;
}

a {
    display: inline-block;
    margin-bottom: -15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 70%;
}

p.ai {
    background: rgba(111, 116, 119, 0.3);
}

p.user {
    background: rgba(75, 163, 195, 0.3);
    align-self: flex-end;
}

/* header */

body {
    margin:0;
}
  
h1 {
font-family: 'Lato', sans-serif;
font-weight:300;
letter-spacing: 2px;
font-size:48px;
}

.header {
position:relative;
text-align:center;
background: linear-gradient(180deg, #175676 0%, #cce6f4 100%);
color: #ecf0f1;
}

.flex {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.waves {
position:relative;
width: 100%;
height:5vh;
margin-bottom:-7px; /*Fix for safari gap*/
min-height:50px;
max-height:75px;
}

.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
}
/* end of header */

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

.loader {
    margin-left: auto;
    margin-right: auto;    
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading_display {
    display: none;
}